@use 'src/app/@core/styles/abstracts/media-query' as *;

#header {
  position: absolute;
  z-index: 99;

  .set-color a {
    color: #000;
  }

  .bg-md {
    @include rv-media-query-max(rv-md) {
      background: #f8f9fa;
    }
  }
}
