@use 'src/app/@core/styles/abstracts/media-query' as *;

#header {
  position: absolute;
  z-index: 99;

  .set-color a {
    color: var(--wk-black);
  }

  .bg-md {
    @include wk-media-query-max(wk-md) {
      background: var(--wk-white);
    }
  }
}
