@use 'src/app/@core/styles/abstracts/media-query' as *;

#services {
  // Service Section

  .service-sec {
    background-color: #f4f4f4;
    padding-bottom: 8rem;

    @include rv-media-query-max(rv-lg) {
      padding-bottom: 5rem;
    }

    .services-container {
      p {
        width: 50%;

        @include rv-media-query-max(rv-lg) {
          width: 100%;
        }
      }

      h3 {
        color: #58556a;
      }
    }
  }
}
