<!-- service section -->
<section id="services">
  <div class="service-sec container-fluid pt-5">
    <div class="container-sm services-container">
      <div class="border-bottom border-2 border-dark pb-5">
        <h3 class="pb-3 rv-heading-2 fw-700 pb-2">Software Development</h3>

        <p class="rv-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5 pt-5">
        <h3 class="rv-heading-2 fw-700 pb-2">Product Development</h3>

        <p class="rv-para-3 fw-400">
          Our product development expertise spans across various industries,
          enabling us to create intuitive, user-centric, and market-ready
          solutions that sets you apart.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="rv-heading-2 fw-700 pb-2">
          Tech, Clients & Managed Services
        </h3>

        <p class="rv-para-3 fw-400">
          Get comprehensive technology, clients and managed services to handle
          your IT needs efficiently. From proactive system monitoring to 24/7
          technical support.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="rv-heading-2 fw-700 pb-2">Cloud & DevOps Engineering</h3>

        <p class="rv-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-2">
        <h3 class="rv-heading-2 fw-700 pb-2">Software Development</h3>

        <p class="rv-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>
    </div>
  </div>
</section>
