@use 'src/app/@core/styles/abstracts/media-query' as *;

#clients {
  width: 100%;

  .client-bg {
    background-color: var(--wk-accent-color-900);
    background-image: url('/assets/images/home/home-clients/client-bg.png'),
      url('/assets//images/home/home-clients/subtle-stripes.png');
    background-repeat: no-repeat, repeat;
    background-position: center center;
    background-size: cover, auto;
    color: var(--wk-white);
    padding-bottom: 3rem;

    .clients {
      padding-top: 6rem;
    }

    .quote-bg-1 {
      width: 50%;

      @include wk-media-query-max(wk-md) {
        width: 100%;
      }
    }

    .quote-bg-2 {
      background: var(--wk-primary-color-900);
      margin-top: 3rem;
      padding: 3rem 5rem 1rem 5rem;
      width: 70%;
      text-align: center;

      @include wk-media-query-max(wk-md) {
        width: 100%;
        padding: 3rem 1rem 1rem 1rem;
      }
    }

    .quote-para {
      width: 85%;

      @include wk-media-query-max(wk-md) {
        width: 100%;
        font-size: 0.8rem;
      }
    }

    .quote-bg-3 {
      width: 70%;

      @include wk-media-query-max(wk-md) {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
      }
    }

    .mob-heading {
      @include wk-media-query-max(wk-md) {
        font-size: 0.8rem;
      }
    }
  }

  .logo-responsive {
    div {
      @include wk-media-query-max(wk-sm) {
        padding: 0.5rem;
      }
    }
  }
}
