<section id="clients">
  <!-- Trusted Section -->
  <div class="container-fluid">
    <div class="container-md py-5 my-3">
      <div class="text-center rv-heading-5 fw-600">
        We are trusted by enterprises and startups like:
      </div>

      <div class="py-5 my-3 d-flex justify-content-evenly">
        <span> </span>
        <span> </span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <!-- Clients Section -->
  <div class="container-fluid client-bg">
    <div
      class="container-md clients d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="rv-display-01 rv-text-white fw-700 my5 py-3 w-100 text-center"
      >
        What our clients say
      </div>

      <div class="rv-para-3 rv-text-white text-center quote-bg-1">
        Our team of expert developers, designers, and data analysts are
        dedicated to providing our clients with cutting-edge technology that
        drives success and growth.
      </div>

      <div
        class="quote-bg-2 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="py-3 lh-lg quote-para">
          “The custom software solution built by Revent has transformed the way
          we do business. It has improved our productivity, reduced costs, and
          enabled us to offer better services to our customers. The
          user-friendly interface and intuitive design make it easy for our
          employees to use, and the software has been highly reliable since its
          deployment”
        </div>

        <div
          class="quote-bg-3 d-flex flex-row justify-content-between align-items-center py-3 pt-5"
        >
          <div>
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
              >
                <path
                  d="M24 4C12.98 4 4 12.98 4 24C4 35.02 12.98 44 24 44C35.02 44 44 35.02 44 24C44 12.98 35.02 4 24 4ZM27.58 30C28.16 30.58 28.16 31.54 27.58 32.12C27.28 32.42 26.9 32.56 26.52 32.56C26.14 32.56 25.76 32.42 25.46 32.12L18.4 25.06C17.82 24.48 17.82 23.52 18.4 22.94L25.46 15.88C26.04 15.3 27 15.3 27.58 15.88C28.16 16.46 28.16 17.42 27.58 18L21.58 24L27.58 30Z"
                  fill="white"
                /></svg
            ></span>
          </div>

          <div class="d-flex flex-column align-items-center w-100">
            <span class="pb-1"
              ><img src="assets/icons/Ellipse1.svg" alt="user-icon"
            /></span>

            <span class="rv-para-2 rv-text-white pb-2">Owonikoko Adisa</span>

            <span class="rv-sub-heading rv-text-white mob-heading fw-700"
              >Business Head - Sterling Bank</span
            >
          </div>

          <div>
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
              >
                <path
                  d="M24 4C12.98 4 4 12.98 4 24C4 35.02 12.98 44 24 44C35.02 44 44 35.02 44 24C44 12.98 35.02 4 24 4ZM29.58 25.06L22.52 32.12C22.22 32.42 21.84 32.56 21.46 32.56C21.08 32.56 20.7 32.42 20.4 32.12C19.82 31.54 19.82 30.58 20.4 30L26.4 24L20.4 18C19.82 17.42 19.82 16.46 20.4 15.88C20.98 15.3 21.94 15.3 22.52 15.88L29.58 22.94C30.18 23.52 30.18 24.48 29.58 25.06Z"
                  fill="white"
                /></svg
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
