<section id="afrexim-timeline">
  <div class="container-md vybecash-timeline py-4">
    <div class="row">
      <div class="col-12 col-md-3 py-2 text-center text-md-start">
        <div class="wk-sub-heading fw-700 afrexim-title-color">
          Scope/Work Timeline
        </div>
      </div>

      <div class="col-12 col-md-8 text-center text-md-start lh-base mt-3">
        <div>
          <h4 class="timeline-para wk-text-white fw-700">
            Flowmono - Discovery Phase
          </h4>

          <p class="wk-para-3 opa-color my-4 wk-text-white">
            One of the major lessons from the pandemic era is that business
            process configuration is a key requirement for ensuring business
            continuity.
          </p>

          <p class="wk-para-3 opa-color mt-4 wk-text-white">
            In the current African business landscape, business owners express
            their frustrations over the rising rate of developer attritions and
            the shortage of developers that can help them design and develop
            business process automation. Most of the available process
            management solutions are built around an expensive budget, complex
            architecture, and take time to implement.
          </p>
        </div>

        <div class="mt-5">
          <h4 class="timeline-para fw-700 wk-text-white">Flowmono 1.0</h4>

          <p class="wk-para-3 opa-color my-4 wk-text-white">
            One of the major lessons from the pandemic era is that business
            process configuration is a key requirement for ensuring business
            continuity
          </p>

          <p class="wk-para-3 opa-color mt-4 wk-text-white">
            In the current African business landscape, business owners express
            their frustrations over the rising rate of developer attritions and
            the shortage of developers that can help them design and develop
            business process automation. Most of the available process
            management solutions are built around an expensive budget, complex
            architecture, and take time to implement.
          </p>
        </div>

        <div class="mt-5">
          <h4 class="timeline-para fw-700 wk-text-white">
            Flowmono 2.0
            <span>
              <button class="btn wk-btn-neutral wk-text-black py-0 px-2 mb-3">
                coming soon
              </button>
            </span>
          </h4>

          <p class="wk-para-3 opa-color my-4 wk-text-white">
            Flowmono makes contract and agreement processes easier. Individuals
            and freelancers, small and medium enterprises, and major
            corporations looking to reduce paperwork and move to a paperless
            process can benefit from the solution.
          </p>

          <p class="wk-para-3 opa-color mt-4 wk-text-white">
            According to an Onespan report, financial institutions that
            implemented electronic signatures saw a 92% reduction in scanning
            errors and missing files by 66%.To reinforce the confidence and
            safety of users’ data, Flowmono uses encryption technology to
            protect user data.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
