@use 'src/app/@core/styles/abstracts/media-query' as *;

#other {
  width: 100%;
  background: var(--wk-accent-color-100);
  padding-top: 4rem;
  padding-bottom: 4rem;

  .angle-icon {
    border-radius: 0px 20px 0px 0px;
    background: var(--wk-accent-color-1100);
    display: inline-block;
    width: 2.8125rem;
    height: 2.8125rem;
  }

  .other-title {
    color: var(--wk-primary-color-600);
  }

  .card {
    background: var(--wk-accent-color-100);
    margin-top: 2rem;
    border: none;

    div {
      width: 50%;

      @include wk-media-query-max(wk-xsm) {
        width: 100%;
      }
    }
  }
}
