<section id="website-idea">
  <div class="ideas-bg py-5">
    <div class="container-fluid py-5 text-center fw-700">
      <div class="wk-display-6 wk-text-white">Got an Idea?</div>

      <div class="wk-para-3 wk-text-white fw-100 idea-para mb-4">
        Let's bring it to life with our expert technology service.
      </div>

      <div class="py-2">
        <button class="btn about-btn rounded-pill">
          Tell us about it
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M14.43 5.92993L20.5 11.9999L14.43 18.0699"
                fill="#FCB644"
              />
              <path
                d="M14.43 5.92993L20.5 11.9999L14.43 18.0699"
                stroke="#7433D3"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.5 12H20.33"
                stroke="#7433D3"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              /></svg
          ></span>
        </button>
      </div>
    </div>
  </div>
</section>
