<section id="optiva-overview">
  <div class="container-md py-5">
    <div class="row">
      <div class="col-12 col-md-3 py-2 text-center text-md-start">
        <div class="wk-sub-heading overview-title-color fw-700">Overview</div>
      </div>

      <div
        class="col-12 col-md-8 py-2 overview-buttons-group d-flex justify-content-center justify-content-md-start"
      >
        <a href="#">
          <div class="uni-bg">Migration</div>
        </a>

        <a href="#">
          <div class="nor-bg">Web app</div>
        </a>

        <a href="#">
          <div class="uni-bg">Fintech</div>
        </a>

        <a href="#">
          <div class="nor-bg">Mobile App</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div
        class="col-12 col-md-3 py-2 text-center text-md-start mt-4 overview-single-button-container"
      >
        <button class="btn rounded-pill">See Live</button>
      </div>

      <div class="col-12 col-md-8 py-4 text-center text-md-start">
        <div class="d-flex flex-column">
          <h2 class="overview-para w-100 fw-700">
            Your one-stop shop for all immigration, residency & citizenship
            consulting services!
          </h2>

          <div
            class="d-flex flex-row mt-4 justify-content-between overview-dev"
          >
            <div>
              <h4 class="wk-heading-7">Development Tools</h4>
              <p class="wk-para-3-res opa-color">React, Next, Vue</p>
            </div>

            <div>
              <h4 class="wk-heading-7">Design Tools</h4>
              <p class="wk-para-3-res opa-color">Figma, Jira</p>
            </div>

            <div>
              <h4 class="wk-heading-7">Duration</h4>
              <p class="wk-para-3-res opa-color">May 2021 - Ongoing</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3 text-center text-md-start mt-2">
        <div class="pb-3">
          <div class="overview-title-color pe-5 wk-sub-heading fw-700">
            Problem &
            <span class="d-block"> Solution </span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 text-center text-md-start lh-base mt-3">
        <div>
          <h4 class="overview-para fw-700">Problem Statement</h4>

          <p class="wk-para-3 opa-color mt-2">
            The traditional approach of managing migration fees using
            spreadsheets or paper-based forms can be tedious, error-prone and
            may not allow for easy tracking of payments. As a result, many
            businesses are seeking an efficient and automated system to manage
            migration fees.
          </p>
        </div>

        <div class="mt-4">
          <h4 class="overview-para fw-700">Solution</h4>

          <p class="wk-para-3 opa-color mt-2">
            With Optiva Capital's software application, employers can easily add
            applicants to the applicants register and generate a quote for their
            fees. The system also issues invoices to applicants in instalments,
            making it easier for them to manage their payments. Once payment is
            received, the system generates a receipt, which can be used for
            future reference.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
