<section id="vybecash-overview">
  <div class="container-md py-5">
    <div class="row">
      <div class="col-12 col-md-3 py-2 text-center text-md-start">
        <div class="wk-sub-heading overview-title-color fw-700">Overview</div>
      </div>

      <div
        class="col-12 col-md-8 py-2 overview-buttons-group d-flex justify-content-center justify-content-md-start"
      >
        <a href="#">
          <div class="nor-bg">Websites</div>
        </a>

        <a href="#">
          <div class="uni-bg">Web applications</div>
        </a>

        <a href="#">
          <div class="nor-bg">SAAS</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div
        class="col-12 col-md-3 py-2 text-center text-md-start mt-4 overview-single-button-container"
      >
        <button class="btn rounded-pill">See Live</button>
      </div>

      <div class="col-12 col-md-8 py-4 text-center text-md-start">
        <div class="d-flex flex-column">
          <h2 class="overview-para w-100">
            Vybecash is a platform that enhances users' digital payment
            experiences with financial accounts, transfers, bill payments, and
            savings services. 
          </h2>

          <div
            class="d-flex flex-row mt-4 justify-content-between overview-dev"
          >
            <div>
              <h4 class="wk-heading-7">Development Tools</h4>
              <p class="wk-para-3-res opa-color">React, Next, Vue</p>
            </div>

            <div>
              <h4 class="wk-heading-7">Design Tools</h4>
              <p class="wk-para-3-res opa-color">Figma, Jira</p>
            </div>

            <div>
              <h4 class="wk-heading-7">Duration</h4>
              <p class="wk-para-3-res opa-color">May 2021 - Ongoing</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3 text-center text-md-start mt-2">
        <div class="pb-3">
          <div class="overview-title-color pe-5 wk-sub-heading fw-700">
            Problem &
            <span class="d-block"> Solution </span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 text-center text-md-start lh-base mt-3">
        <div>
          <h4 class="overview-para">Problem Statement</h4>

          <p class="wk-para-3 opa-color mt-2">
            Traditional financial transactions and banking services often prove
            cumbersome and time-consuming. Individuals, businesses, and
            organizations face numerous challenges, including slow money
            transfers, lack of transparency, security concerns, and limited
            access to modern financial tools.
          </p>

          <p class="wk-para-3 opa-color mt-3">
            Additionally, the absence of user-friendly platforms often hinders
            people from making informed financial decisions and optimizing their
            funds effectively. 
          </p>
        </div>

        <div class="mt-4">
          <h4 class="overview-para">Solution</h4>

          <p class="wk-para-3 opa-color mt-2">
            The need of the hour is a dynamic application that addresses these
            pain points and revolutionizes the way users manage their finances.
          </p>

          <p class="wk-para-3 opa-color mt-3">
            This concern made the client identify the need for a financial
            application that allows users to run digital banking and payment
            processing while also growing their financial portfolio through
            various savings plans.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
