<section id="vybecash-features">
  <div class="container-md">
    <div class="row">
      <div class="col-12 col-md-3 py-2 text-center text-md-start">
        <div class="pb-3">
          <div class="features-title-color pe-5 wk-sub-heading fw-700">
            Designs &
            <span class="d-block"> Iterations </span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 text-center text-md-start lh-base mt-3">
        <h3 class="features-para fw-700">Some features we implemented</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3 text-center text-md-start mt-2">
        <div class="pb-3">
          <button class="btn rounded-pill f-btn">See Live</button>
        </div>
      </div>

      <div class="col-12 col-md-8 text-center text-md-start lh-base mt-3">
        <div>
          <h4 class="opa-color fw-600 mb-3">
            1. Receive payment using QR Code & Link
          </h4>

          <p class="wk-para-3 opa-color mt-2">
            QR code payments are made via the customer's smartphone when they
            scan the code. Once saved, they are taken to a payment page where
            they will have the option to enter their chosen payment details or
            use a mobile payment solution to complete the transaction.
          </p>

          <p class="wk-para-3 opa-color mt-3">
            A vendor can also scan a QR code on their customer's phone. This
            code is provided by their bank or payment app and will contain their
            card details, which the business can use to finalize the
            transaction.
          </p>

          <img
            class="image-1"
            src="assets/images/website/vybecash/vybecash-features/image-4.png"
            alt=""
          />

          <div
            class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-md-start pt-4 mb-5"
          >
            <img
              class="little-images"
              src="assets/images/website/vybecash/vybecash-features/image-2.png"
              alt="image"
            />

            <img
              class="little-images"
              src="assets/images/website/vybecash/vybecash-features/image-3.png"
              alt="image"
            />
          </div>

          <h4 class="opa-color fw-600 my-4">2. Payment Link</h4>

          <p class="wk-para-3 opa-color mt-2">
            The Payment Link Integration known as Vybelink is a groundbreaking
            addition to Vybecash, designed to revolutionize the way users
            conduct transactions.
          </p>

          <p class="wk-para-3 opa-color mt-3">
            With this innovative feature, Vybecash introduces a simple and
            secure method for businesses, freelancers, and individuals to
            receive payments effortlessly. The Payment Link Integration empowers
            VybeCash users to generate custom payment links and share them via
            various communication channels, offering a versatile and convenient
            solution for collecting payments from customers or clients.
          </p>

          <img
            class="image-1"
            src="assets/images/website/vybecash/vybecash-features/image-5.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
