<section id="vybecash-timeline">
  <div class="container-md vybecash-timeline py-4">
    <div class="row">
      <div class="col-12 col-md-3 py-2 text-center text-md-start">
        <div class="wk-sub-heading fw-700 wk-text-white">
          Scope/Work Timeline
        </div>
      </div>

      <div class="col-12 col-md-8 text-center text-md-start lh-base mt-3">
        <div>
          <h4 class="timeline-para wk-text-white fw-700">Vybecash 1.0</h4>

          <p class="wk-para-3 opa-color my-4 wk-text-white">
            VybeCash 1.0 was built to understand the importance of streamlined
            and efficient financial processes, particularly in the finance
            industry.
          </p>

          <p class="wk-para-3 opa-color mt-4 wk-text-white">
            Business continuity and individual adaptability are paramount for
            sustained success. To address the challenges faced by African
            businesses, Vybecash aims to provide a user-friendly,
            cost-effective, and agile solution for automating financial
            processes.
          </p>
        </div>

        <div class="mt-5">
          <h4 class="timeline-para fw-700 wk-text-white">Vybecash Merchant</h4>

          <p class="wk-para-3 opa-color my-4 wk-text-white">
            Business owners form a core of business operation which is why we
            decided to build a variation of an app that can alleviate their
            frustrations by harnessing our intuitive fintech app.
          </p>

          <p class="wk-para-3 opa-color mt-4 wk-text-white">
            Our platform offers simplified financial process management tools
            that empower businesses to make transactions seamlessly.
          </p>
        </div>

        <div class="mt-5">
          <h4 class="timeline-para fw-700 wk-text-white">
            Vybecash 2.0
            <span>
              <button class="btn wk-btn-neutral wk-text-black py-0 px-2 mb-3">
                coming soon
              </button>
            </span>
          </h4>

          <p class="wk-para-3 opa-color my-4 wk-text-white">
            Vybecash needed to incorporate user-friendly design principles and
            intuitive interfaces tailored to finance terminologies. This
            approach allows businesses and individuals to easily navigate and
            customize their financial processes without extensive technical
            knowledge.
          </p>

          <p class="wk-para-3 opa-color mt-4 wk-text-white">
            By democratizing the financial experience, Vybecash enables
            individuals and businesses of all sizes to streamline their
            financial operations, improve efficiency, and enhance their overall
            business continuity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
