<section id="vybecashLanding">
  <div class="split-background">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="wk-display-0 wk-text-black fw-500">Vybecash</h1>

      <p
        class="wk-text-black mb-4 wk-sub-heading fw-400 text-center landing-para"
      >
        Manage your wallet and transactions.
      </p>

      <div class="landing-buttons-group fw-400">
        <a href="#">
          <div>Mobile App</div>
        </a>

        <a href="#">
          <div>Fintech</div>
        </a>

        <a href="#">
          <div>Finance</div>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-center landing-image-container">
      <img
        src="assets/images/website/vybecash/vybecash-landing/mobile-view.png"
        alt="vybecash mobile-view"
      />
    </div>
  </div>
</section>
