@use 'src/app/@core/styles/abstracts/media-query' as *;

#vybecashLanding {
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }

  .split-background {
    width: 100%;
    background: linear-gradient(
      to bottom,
      var(--wk-neutral-1000) 67%,
      var(--wk-white) 33%
    );
    padding-top: 10rem;
    padding-bottom: 2rem;

    @include wk-media-query-max(wk-md) {
      background: linear-gradient(
        to bottom,
        var(--wk-neutral-1000) 72%,
        var(--wk-white) 28%
      );
    }

    @include wk-media-query-max(wk-sm) {
      background: linear-gradient(
        to bottom,
        var(--wk-neutral-1000) 72%,
        var(--wk-white) 28%
      );
    }

    @include wk-media-query-max(wk-xsm) {
      background: linear-gradient(
        to bottom,
        var(--wk-neutral-1000) 73%,
        var(--wk-white) 27%
      );
    }
  }

  .landing-para {
    @include wk-media-query-max(wk-sm) {
      font-size: 1.1rem;
    }
  }

  .landing-buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;

    @include wk-media-query-max(wk-xsm) {
      font-size: 0.5rem;
      padding: 1rem;
    }

    div {
      padding: 0.6em 1em;
      border-radius: 0.3rem;
      margin: 0.5rem;
      font-weight: 400;
      background: var(--wk-accent-color-200);
    }
  }

  .landing-image-container {
    width: 100%;

    img {
      width: 70%;
      margin-top: 3rem;

      @include wk-media-query-max(wk-md) {
        width: 75%;
      }

      @include wk-media-query-max(wk-sm) {
        width: 83%;
        margin-top: 2rem;
      }

      @include wk-media-query-max(wk-xsm) {
        width: 95%;
        margin-top: 1rem;
      }
    }
  }
}
