/******* Custom Palette *******/
$mat-wk-primary-map: (
  50: #eae7ff,
  100: #cac2ff,
  200: #a799ff,
  300: #8370ff,
  400: #6952ff,
  500: #4e33ff,
  600: #472eff,
  700: #3d27ff,
  800: #3520ff,
  900: #2514ff,
  A100: #ffffff,
  A200: #fbfbff,
  A400: #cbc8ff,
  A700: #b3aeff,
  contrast: (
    50: #040101,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-wk-accent-map: (
  50: #ffe7ef,
  100: #ffc2d7,
  200: #ff99bd,
  300: #fe70a2,
  400: #fe528e,
  500: #fe337a,
  600: #fe2e72,
  700: #fe2767,
  800: #fe205d,
  900: #fd144a,
  A100: #ffffff,
  A200: #fff9fa,
  A400: #ffc6d1,
  A700: #ffadbd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-wk-warn-map: (
  50: #fde0e4,
  100: #fab3bc,
  200: #f78090,
  300: #f34d63,
  400: #f12641,
  500: #ee0020,
  600: #ec001c,
  700: #e90018,
  800: #e70013,
  900: #e2000b,
  A100: #ffffff,
  A200: #ffd6d7,
  A400: #ffa3a5,
  A700: #ff8a8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/******************************/

/***********Theme 1************/
$wk-primary: #4e33ff;
$wk-primary-50: #f8f5fd;
$wk-primary-100: #dcd6ff;
$wk-primary-200: #b8adff;
$wk-primary-300: #9585ff;
$wk-primary-400: #715cff;
$wk-primary-600: #7433d3;
$wk-primary-700: #1900bf;
$wk-primary-800: #0f0073;
$wk-primary-900: #0e061b;
$wk-primary-1000: #aa1d9b;
$wk-primary-1100: #005ede;
$wk-primary-1200: #011b69;
$wk-primary-1300: #435a9c;

$wk-primary-transparent: transparentize($wk-primary, 0.95);

$wk-accent: #fe337a;
$wk-accent-50: #fff5f8;
$wk-accent-100: #f4f4f4;
$wk-accent-200: #fee6fa;
$wk-accent-300: #81808f;
$wk-accent-400: #e3d6f6;
$wk-accent-600: #fe0d61;
$wk-accent-700: #be0143;
$wk-accent-800: #720128;
$wk-accent-900: #532c4c;
$wk-accent-1000: #58556a;
$wk-accent-1100: #4f3ccd;
$wk-accent-1200: #00736eeb;

$wk-accent-transparent: transparentize($wk-accent, 0.95);
/******************************/

$wk-success: #10b981;
$wk-success-50: #ecfdf5;

$wk-warning: #f59e0b;
$wk-warning-50: #fffbeb;

$wk-error: #ef4444;
$wk-error-50: #fef2f2;

$wk-info: #65b3fb;
$wk-info-50: #65b3fb;

$wk-white: #ffffff;
$wk-black: #0e0e0e;

$wk-neutral: #64748b;
$wk-neutral-50: #f7f8f9;
$wk-neutral-100: #e7eaee;
$wk-neutral-200: #d0d5dd;
$wk-neutral-300: #b8c0cc;
$wk-neutral-400: #58556a;
$wk-neutral-600: #4b5768;
$wk-neutral-700: #323a46;
$wk-neutral-800: #191d23;
$wk-neutral-900: #0d0f11;
$wk-neutral-1000: #ffc700eb;

$themed-colors: (
  --wk-theme: (
    --wk-primary-color: (
      default: $wk-primary,
      50: $wk-primary-50,
      100: $wk-primary-100,
      200: $wk-primary-200,
      300: $wk-primary-300,
      400: $wk-primary-400,
      600: $wk-primary-600,
      700: $wk-primary-700,
      800: $wk-primary-800,
      900: $wk-primary-900,
      1000: $wk-primary-1000,
      1100: $wk-primary-1100,
      1200: $wk-primary-1200,
      1300: $wk-primary-1300,
    ),
    --wk-primary-color-transparent: (
      default: $wk-primary-transparent,
    ),
    --wk-accent-color: (
      default: $wk-accent,
      50: $wk-accent-50,
      100: $wk-accent-100,
      200: $wk-accent-200,
      300: $wk-accent-300,
      400: $wk-accent-400,
      600: $wk-accent-600,
      700: $wk-accent-700,
      800: $wk-accent-800,
      900: $wk-accent-900,
      1000: $wk-accent-1000,
      1100: $wk-accent-1100,
      1200: $wk-accent-1200,
    ),
    --wk-accent-color-transparent: (
      default: $wk-accent-transparent,
    ),
  ),
);

$general-colors: (
  --wk-white: (
    default: $wk-white,
  ),
  --wk-black: (
    default: $wk-black,
  ),
  --wk-neutral: (
    default: $wk-neutral,
    50: $wk-neutral-50,
    100: $wk-neutral-100,
    200: $wk-neutral-200,
    300: $wk-neutral-300,
    400: $wk-neutral-400,
    600: $wk-neutral-600,
    700: $wk-neutral-700,
    800: $wk-neutral-800,
    900: $wk-neutral-900,
    1000: $wk-neutral-1000,
  ),
  --wk-success: (
    default: $wk-success,
    50: $wk-success-50,
  ),
  --wk-warning: (
    default: $wk-warning,
    50: $wk-warning-50,
  ),
  --wk-error: (
    default: $wk-error,
    50: $wk-error-50,
  ),
  --wk-info: (
    default: $wk-info,
    50: $wk-info-50,
  ),
);
