/******* Custom Palette *******/
$mat-rv-primary-map: (
  50: #eae7ff,
  100: #cac2ff,
  200: #a799ff,
  300: #8370ff,
  400: #6952ff,
  500: #4e33ff,
  600: #472eff,
  700: #3d27ff,
  800: #3520ff,
  900: #2514ff,
  A100: #ffffff,
  A200: #fbfbff,
  A400: #cbc8ff,
  A700: #b3aeff,
  contrast: (
    50: #040101,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-rv-accent-map: (
  50: #ffe7ef,
  100: #ffc2d7,
  200: #ff99bd,
  300: #fe70a2,
  400: #fe528e,
  500: #fe337a,
  600: #fe2e72,
  700: #fe2767,
  800: #fe205d,
  900: #fd144a,
  A100: #ffffff,
  A200: #fff9fa,
  A400: #ffc6d1,
  A700: #ffadbd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-rv-warn-map: (
  50: #fde0e4,
  100: #fab3bc,
  200: #f78090,
  300: #f34d63,
  400: #f12641,
  500: #ee0020,
  600: #ec001c,
  700: #e90018,
  800: #e70013,
  900: #e2000b,
  A100: #ffffff,
  A200: #ffd6d7,
  A400: #ffa3a5,
  A700: #ff8a8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/******************************/

/***********Theme 1************/
$rv-primary: #4e33ff;
$rv-primary-50: #f6f5ff;
$rv-primary-100: #dcd6ff;
$rv-primary-200: #b8adff;
$rv-primary-300: #9585ff;
$rv-primary-400: #715cff;
$rv-primary-600: #2d0dff;
$rv-primary-700: #1900bf;
$rv-primary-800: #0f0073;
$rv-primary-900: #050026;

$rv-primary-transparent: transparentize($rv-primary, 0.95);

$rv-accent: #fe337a;
$rv-accent-50: #fff5f8;
$rv-accent-100: #ffe0eb;
$rv-accent-200: #ffc2d7;
$rv-accent-300: #ff99bd;
$rv-accent-400: #fe669b;
$rv-accent-600: #fe0d61;
$rv-accent-700: #be0143;
$rv-accent-800: #720128;
$rv-accent-900: #26000d;

$rv-accent-transparent: transparentize($rv-accent, 0.95);
/******************************/

$rv-success: #10b981;
$rv-success-50: #ecfdf5;

$rv-warning: #f59e0b;
$rv-warning-50: #fffbeb;

$rv-error: #ef4444;
$rv-error-50: #fef2f2;

$rv-info: #65b3fb;
$rv-info-50: #65b3fb;

$rv-white: #ffffff;
$rv-black: #222222;

$rv-neutral: #64748b;
$rv-neutral-50: #f7f8f9;
$rv-neutral-100: #e7eaee;
$rv-neutral-200: #d0d5dd;
$rv-neutral-300: #b8c0cc;
$rv-neutral-400: #a0abbb;
$rv-neutral-600: #4b5768;
$rv-neutral-700: #323a46;
$rv-neutral-800: #191d23;
$rv-neutral-900: #0d0f11;

$themed-colors: (
  --rv-theme: (
    --rv-primary-color: (
      default: $rv-primary,
      50: $rv-primary-50,
      100: $rv-primary-100,
      200: $rv-primary-200,
      300: $rv-primary-300,
      400: $rv-primary-400,
      600: $rv-primary-600,
      700: $rv-primary-700,
      800: $rv-primary-800,
      900: $rv-primary-900,
    ),
    --rv-primary-color-transparent: (
      default: $rv-primary-transparent,
    ),
    --rv-accent-color: (
      default: $rv-accent,
      50: $rv-accent-50,
      100: $rv-accent-100,
      200: $rv-accent-200,
      300: $rv-accent-300,
      400: $rv-accent-400,
      600: $rv-accent-600,
      700: $rv-accent-700,
      800: $rv-accent-800,
      900: $rv-accent-900,
    ),
    --rv-accent-color-transparent: (
      default: $rv-accent-transparent,
    ),
  ),
);

$general-colors: (
  --rv-white: (
    default: $rv-white,
  ),
  --rv-black: (
    default: $rv-black,
  ),
  --rv-neutral: (
    default: $rv-neutral,
    50: $rv-neutral-50,
    100: $rv-neutral-100,
    200: $rv-neutral-200,
    300: $rv-neutral-300,
    400: $rv-neutral-400,
    600: $rv-neutral-600,
    700: $rv-neutral-700,
    800: $rv-neutral-800,
    900: $rv-neutral-900,
  ),
  --rv-success: (
    default: $rv-success,
    50: $rv-success-50,
  ),
  --rv-warning: (
    default: $rv-warning,
    50: $rv-warning-50,
  ),
  --rv-error: (
    default: $rv-error,
    50: $rv-error-50,
  ),
  --rv-info: (
    default: $rv-info,
    50: $rv-info-50,
  ),
);
