@use 'sass:map';

$min-width-breakpoints: (
  rv-sm: 576px,
  rv-md: 768px,
  rv-lg: 992px,
  rv-xl: 1200px,
  rv-xxl: 1400px,
);

$max-width-breakpoints: (
  rv-xsm: 575.98px,
  rv-sm: 767.98px,
  rv-md: 991.98px,
  rv-lg: 1199.98px,
  rv-xl: 1399.98px,
);

@mixin rv-media-query-min($key) {
  $size: map.get($min-width-breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin rv-media-query-max($key) {
  $size: map.get($max-width-breakpoints, $key);

  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin rv-media-query-between($key1, $key2) {
  @media only screen and (min-width: $key1) and (max-width: $key2) {
    @content;
  }
}
