@use 'media-query' as *;
@use 'theme' as *;

// @font-face {
//   font-family: 'Greycliff CF';
//   font-display: swap;
//   src: local('Greycliff CF Thin'), local('GreycliffCF-Thin'),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Thin.woff2) format('woff2');
//   font-weight: 100;
// }

// @font-face {
//   font-family: 'Greycliff CF';
//   font-display: swap;
//   src: local('Greycliff CF Extra Light'), local('GreycliffCF-ExtraLight'),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-ExtraLight.woff2) format('woff2');
//   font-weight: 200;
// }

// @font-face {
//   font-family: 'Greycliff CF';
//   font-display: swap;
//   src: local('Greycliff CF Light'), local('GreycliffCF-Light'),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Light.woff2) format('woff2');
//   font-weight: 300;
// }

// @font-face {
//   font-family: 'Greycliff CF';
//   font-display: swap;
//   src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Medium.woff2) format('woff2');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Greycliff CF';
//   font-display: swap;
//   src: local('Greycliff CF Demi Bold'), local('GreycliffCF-DemiBold'),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-DemiBold.woff2) format('woff2');
//   font-weight: 600;
// }

// @font-face {
//   font-family: 'Greycliff CF';
//   font-display: swap;
//   src: local('Greycliff CF Extra Bold'), local('GreycliffCF-ExtraBold'),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-ExtraBold.woff2) format('woff2');
//   font-weight: 800;
// }

// @font-face {
//   font-family: 'Greycliff CF';
//   font-display: swap;
//   src: local('Greycliff CF Heavy'), local('GreycliffCF-Heavy'),
//     url(/assets/fonts/GreycliffCF/GreycliffCF-Heavy.woff2) format('woff2');
//   font-weight: 900;
// }

.rv-display-0 {
  font-size: 5.5rem;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 3.5rem;
  }

  @include rv-media-query-max(rv-sm) {
    font-size: 2.8rem;
  }
}

.rv-display-01 {
  font-size: 3.125rem;
  color: var(--rv-black);
}

.rv-display-1 {
  font-size: 4.5rem;
  color: var(--rv-black);
}

.rv-display-2 {
  font-size: 3.75rem;
  color: var(--rv-black);
}

.rv-heading {
  font-size: 4rem;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 2.225rem;
  }
}

.rv-heading-1 {
  font-size: 3rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 2.125rem;
  }
}

.rv-heading-2 {
  font-size: 2.5rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 2.0625rem;
  }
}

.rv-heading-3 {
  font-size: 2.0625rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 1.75rem;
  }
}

.rv-heading-4 {
  font-size: 1.75rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 1.4375rem;
  }
}

.rv-heading-5 {
  font-size: 1.4375rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 1.1875rem;
  }
}

.rv-heading-6 {
  font-size: 1.1875rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);

  @include rv-media-query-max(rv-md) {
    font-size: 1rem;
  }
}

.rv-sub-heading {
  font-size: 1.25rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);
}

.rv-para-3 {
  font-size: 1.125rem;
  color: var(--rv-black);
}

.rv-para-2 {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: var(--rv-black);
  margin-bottom: 0;
}

.rv-para-1 {
  font-family: 'Outfit', sans-serif;
  font-size: 0.875rem;
  color: var(--rv-black);
}

.rv-para {
  font-size: 0.625rem;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 0;
}

.rv-caption {
  font-size: 0.75rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);
  margin-bottom: 0;
}

.rv-footer {
  font-size: 0.25rem;
  font-family: 'Outfit', sans-serif;
  color: var(--rv-black);
}

/*** Font Weight ***/

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fi {
  font-style: italic;
}

.rv-opacity {
  opacity: 0.7;
}

/*******************/
