@use 'theme' as *;

.rv-text-primary {
  color: var(--rv-primary-color) !important;
}

.rv-text-accent {
  color: var(--rv-accent-color) !important;
}

.rv-text-black {
  color: var(--rv-black) !important;
}

.rv-text-white {
  color: var(--rv-white) !important;
}

.rv-bg-primary {
  background: var(--rv-primary-color) !important;
}
