@use 'theme' as *;

.wk-text-primary {
  color: var(--wk-primary-color) !important;
}

.wk-text-accent {
  color: var(--wk-accent-color) !important;
}

.wk-text-black {
  color: var(--wk-black) !important;
}

.wk-text-white {
  color: var(--wk-white) !important;
}

.wk-bg-primary {
  background: var(--wk-primary-color) !important;
}
