@use '@angular/material' as mat;

@use '../abstracts/colors' as *;

@include mat.core();

$wk-primary: mat.define-palette($mat-wk-primary-map, 500);

$wk-accent: mat.define-palette($mat-wk-accent-map, 500);

$wk-warn: mat.define-palette($mat-wk-warn-map, 500);

$wk-typography: mat.define-typography-config(
  $font-family: 'Greycliff CF, sans-serif',
);

$wk-light: mat.define-light-theme(
  (
    color: (
      primary: $wk-primary,
      accent: $wk-accent,
      warn: $wk-warn,
    ),
    typography: $wk-typography,
  )
);

$wk-dark: mat.define-dark-theme(
  (
    color: (
      primary: $wk-primary,
      accent: $wk-accent,
      warn: $wk-warn,
    ),
    typography: $wk-typography,
  )
);

/* This will disable the style duplication warning */
mat.$theme-ignore-duplication-warnings: true;
/***************************************************/

.wk-theme {
  // &.light {
  @include mat.all-component-themes($wk-light);
  // }

  // &.dark {
  //   @include mat.all-component-themes($wk-dark);
  // }
}

// @include angular-material-typography($wk-typography);
