@use '@angular/material' as mat;

@use '../abstracts/colors' as *;

@include mat.core();

$Zns-primary: mat.define-palette($mat-zns-primary-map, 500);

$Zns-accent: mat.define-palette($mat-zns-accent-map, 500);

$Zns-warn: mat.define-palette($mat-zns-warn-map, 500);

$Zns-typography: mat.define-typography-config(
  $font-family: 'Greycliff CF, sans-serif',
);

$Zns-light: mat.define-light-theme(
  (
    color: (
      primary: $Zns-primary,
      accent: $Zns-accent,
      warn: $Zns-warn,
    ),
    typography: $Zns-typography,
  )
);

$Zns-dark: mat.define-dark-theme(
  (
    color: (
      primary: $Zns-primary,
      accent: $Zns-accent,
      warn: $Zns-warn,
    ),
    typography: $Zns-typography,
  )
);

/* This will disable the style duplication warning */
mat.$theme-ignore-duplication-warnings: true;
/***************************************************/

.zns-theme {
  // &.light {
  @include mat.all-component-themes($Zns-light);
  // }

  // &.dark {
  //   @include mat.all-component-themes($Zns-dark);
  // }
}

// @include angular-material-typography($Zns-typography);
