@use '@angular/material' as mat;

@use '../abstracts/colors' as *;

@include mat.core();

$rv-primary: mat.define-palette($mat-rv-primary-map, 500);

$rv-accent: mat.define-palette($mat-rv-accent-map, 500);

$rv-warn: mat.define-palette($mat-rv-warn-map, 500);

$rv-typography: mat.define-typography-config(
  $font-family: 'Greycliff CF, sans-serif',
);

$rv-light: mat.define-light-theme(
  (
    color: (
      primary: $rv-primary,
      accent: $rv-accent,
      warn: $rv-warn,
    ),
    typography: $rv-typography,
  )
);

$rv-dark: mat.define-dark-theme(
  (
    color: (
      primary: $rv-primary,
      accent: $rv-accent,
      warn: $rv-warn,
    ),
    typography: $rv-typography,
  )
);

/* This will disable the style duplication warning */
mat.$theme-ignore-duplication-warnings: true;
/***************************************************/

.rv-theme {
  // &.light {
  @include mat.all-component-themes($rv-light);
  // }

  // &.dark {
  //   @include mat.all-component-themes($rv-dark);
  // }
}

// @include angular-material-typography($rv-typography);
