<section id="optiva-research">
  <div class="container-md vybecash-timeline py-4">
    <div class="row">
      <div class="col-12 col-md-3 py-2 text-center text-md-start">
        <div class="wk-sub-heading fw-700 wk-text-white">
          Scope/Work Timeline
        </div>
      </div>

      <div class="col-12 col-md-8 text-center text-md-start lh-base mt-3">
        <div>
          <h4 class="timeline-para wk-text-white fw-700">Research</h4>

          <p class="wk-para-3 opa-color my-4 wk-text-white">
            We ran an indepth research on the product before diving into the
            design steps. We outlined issues we might encounter and procured
            solutions to those issues to develop a winning user experience.
          </p>
        </div>

        <div class="mt-5 optiva-research-buttons">
          <div>Discovery</div>
          <div>Features list</div>
          <div>Visuals</div>
          <div>Development</div>
          <div>User Journey Map</div>
          <div>Prototype</div>
          <div>Testing</div>
          <div>Userflow</div>
        </div>
      </div>
    </div>
  </div>
</section>
