@use 'src/app/@core/styles/abstracts/media-query' as *;

#optiva-research {
  width: 100%;
  background: var(--wk-primary-color-1200);
  padding-top: 7rem;
  padding-bottom: 7rem;
  //   text-shadow: 0 0 1px var(--wk-black);

  .timeline-para {
    font-size: 2.5rem;

    @include wk-media-query-max(wk-md) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    @include wk-media-query-max(wk-sm) {
      font-size: 1.3rem;
    }
  }

  .optiva-research-buttons {
    background: var(--wk-primary-color-1300);
    padding: 0.8rem 0.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    div {
      font-size: 0.86rem;
      background: var(--wk-primary-color-50);
      padding: 1em;
      margin: 0.3rem;
      flex-basis: 9rem;
      text-align: center;
      border-radius: 0.8rem;

      @include wk-media-query-max(wk-md) {
      }
    }
  }
}
