@use 'src/app/@core/styles/abstracts/media-query' as *;

#home {
  // Top Section

  .top-background {
    background-color: #fff;
    background-image: url('../../../../assets/images/pic1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    height: 56.25rem;
    background-blend-mode: normal;
    border-bottom: 0.1rem solid #81808f;

    @include zns-media-query-max(zns-sm) {
      background-color: #000000;
      background-size: cover;
      background-position-x: center;
      // background-blend-mode: darken;
      height: 50rem;
    }

    @include zns-media-query-max(zns-xsm) {
      // background-blend-mode: darken;
    }
  }

  .top-section {
    margin-top: 10rem;
  }

  .sh-text {
    @include zns-media-query-max(zns-xsm) {
      text-shadow: 1px 1px 1px #b6abab;
    }
  }

  .top-title {
    line-height: 7.375rem;
  }

  .top-para {
    width: 35%;
    line-height: 2rem;
    color: #58556a;
    padding-bottom: 2rem;
    opacity: 0.8;

    @include zns-media-query-max(zns-lg) {
      width: 50%;
    }

    @include zns-media-query-max(zns-sm) {
      width: 80%;
      // text-shadow: 0px 1px 1px #858080;
      text-shadow: 1px 1px 1px #b6abab;
    }
  }

  .top-btn {
    font-size: 1.25rem;
    padding: 0.6em 4.5em;

    @include zns-media-query-max(zns-xsm) {
      font-size: 0.8rem;
      // text-shadow: 0px 1px 1px #ccc8c8;
      text-shadow: 1px 1px 1px #b6abab;
    }
  }

  .top-service {
    display: inline;
    margin-left: 3rem;

    @include zns-media-query-max(zns-sm) {
      // background-blend-mode: darken;
      margin-left: 0.3rem;
    }
  }

  // Service Section

  .service-sec {
    background-color: #f4f4f4;
    padding-bottom: 8rem;

    @include zns-media-query-max(zns-lg) {
      padding-bottom: 5rem;
    }

    .services-container {
      p {
        width: 50%;

        @include zns-media-query-max(zns-lg) {
          width: 100%;
        }
      }

      h3 {
        color: #58556a;
      }
    }
  }

  // Performance section

  .performance-bg {
    background: #0e0e0e;
  }

  .performance-border {
    border-left: 1px solid #532c4c;

    @include zns-media-query-max(zns-md) {
      border-left: none;
      border-top: 1px solid #532c4c;
    }

    & > div {
      @include zns-media-query-max(zns-sm) {
        border-bottom: 1px solid #532c4c;
      }
    }
  }

  // Clients Section

  .client-bg {
    background: #2e2b44;
    background-image: url('../../../../assets/images/client-bg.png'),
      url('../../../../assets//images/subtle-stripes.png');
    background-repeat: no-repeat, repeat;
    background-position: center center;
    background-size: cover, auto;
    color: #fff;
    padding-bottom: 3rem;

    @include zns-media-query-max(zns-md) {
      // background-size: auto, cover;
    }

    .clients {
      padding-top: 6rem;
    }

    .quote-bg-1 {
      width: 50%;

      @include zns-media-query-max(zns-md) {
        width: 100%;
      }
    }

    .quote-bg-2 {
      background: #0e061b;
      margin-top: 3rem;
      padding: 3rem 5rem 1rem 5rem;
      width: 75%;
      text-align: center;

      @include zns-media-query-max(zns-md) {
        width: 100%;
        padding: 3rem 1rem 1rem 1rem;
      }
    }

    .quote-bg-3 {
      width: 75%;

      @include zns-media-query-max(zns-md) {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
}
