@use 'src/app/@core/styles/abstracts/media-query' as *;

#home {
  // Top Section

  .top-background {
    background-color: #fff;
    background-image: url('../../../../assets/images/pic1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    height: 56.25rem;
    background-blend-mode: normal;
    border-bottom: 0.1rem solid #81808f;

    @include zns-media-query-max(zns-sm) {
      background-size: cover;
      background-position-x: center;
      background-blend-mode: darken;
      height: 50rem;
    }

    @include zns-media-query-max(zns-xsm) {
      background-blend-mode: darken;
    }
  }

  .top-section {
    margin-top: 10rem;
  }

  .sh-text {
    @include zns-media-query-max(zns-xsm) {
      text-shadow: 1px 2px 2px #5b5454;
    }
  }

  .top-title {
    line-height: 7.375rem;
  }

  .top-para {
    width: 35%;
    line-height: 2rem;
    color: #58556a;
    padding-bottom: 2rem;
    opacity: 0.8;

    @include zns-media-query-max(zns-lg) {
      width: 50%;
    }
    @include zns-media-query-max(zns-sm) {
      width: 80%;
      text-shadow: 0px 1px 1px #858080;
    }
  }

  .top-btn {
    font-size: 1.25rem;
    padding: 0.6em 4.5em;

    @include zns-media-query-max(zns-xsm) {
      font-size: 0.8rem;
      text-shadow: 0px 1px 1px #ccc8c8;
    }
  }

  .top-service {
    display: inline;
    margin-left: 3rem;

    @include zns-media-query-max(zns-sm) {
      background-blend-mode: darken;
      margin-left: 0.3rem;
    }
  }

  // Service Section

  .service-sec {
    background-color: #f4f4f4;
    padding-bottom: 8rem;

    @include zns-media-query-max(zns-lg) {
      padding-bottom: 5rem;
    }

    .services-container {
      p {
        width: 50%;

        @include zns-media-query-max(zns-lg) {
          width: 100%;
        }
      }

      h3 {
        color: #58556a;
      }
    }
  }

  // Performance section

  .performance-bg {
    background: #0e0e0e;
  }

  .performance-border {
    border-left: 1px solid #532c4c;

    @include zns-media-query-max(zns-md) {
      border-left: none;
      border-top: 1px solid #532c4c;
    }

    & > div {
      @include zns-media-query-max(zns-sm) {
        border-bottom: 1px solid #532c4c;
      }
    }
  }
}
