<section id="home">
  <!-- Top Section -->
  <div class="top-background d-flex flex-column justify-content-start py-5">
    <div class="container-md top-section">
      <div class="top-title">
        <h1 class="zns-display-0 fw-500 lh-1 sh-text text-start">
          You think it,
          <span class="text-primary d-block py-3">We build it.</span>
        </h1>
      </div>

      <div class="top-para">
        <p class="zns-para-3 fw-100">
          Get help you at every stage of your product development lifecycle.
          Conquer the market with a truly invested software technology team by
          your side.
        </p>
      </div>

      <div class="mb-5">
        <button class="btn zns-btn-primary top-btn rounded-pill">
          Lets Talk
        </button>
      </div>

      <div class="mt-5 top-service p-2 rounded fw-700">
        Explore all service
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M18.07 14.4301L12 20.5001L5.93001 14.4301"
              fill="#FCB644"
            />
            <path
              d="M18.07 14.4301L12 20.5001L5.93001 14.4301"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 3.5L12 20.33"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
        ></span>
      </div>
    </div>
  </div>

  <!-- service section -->
  <div class="service-sec container-fluid pt-5">
    <div class="container-sm services-container">
      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="pb-3 zns-heading-2 fw-700 pb-2">Software Development</h3>

        <p class="zns-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="zns-heading-2 fw-700 pb-2">Product Development</h3>

        <p class="zns-para-3 fw-400">
          Our product development expertise spans across various industries,
          enabling us to create intuitive, user-centric, and market-ready
          solutions that sets you apart.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="zns-heading-2 fw-700 pb-2">
          Tech, Clients & Managed Services
        </h3>

        <p class="zns-para-3 fw-400">
          Get comprehensive technology, clients and managed services to handle
          your IT needs efficiently. From proactive system monitoring to 24/7
          technical support.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="zns-heading-2 fw-700 pb-2">Cloud & DevOps Engineering</h3>

        <p class="zns-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="zns-heading-2 fw-700 pb-2">Software Development</h3>

        <p class="zns-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>
    </div>
  </div>

  <!-- Performance Section -->
  <div class="container-fluid bg-dark">
    <div class="container-sm py-5">
      <div class="row">
        <div
          class="col-12 col-md-3 zns-text-white py-5 pr-5 text-start zns-heading-3"
        >
          <h3 class="w-50 lh-sm fw-700">Our performance over time</h3>
        </div>

        <div class="col-12 col-md-8 text-center">
          <div class="w-100 d-flex flex-row justify-content-between">
            <div class="p-5 border-start border-light">
              <h3 class="zns-text-white fw-700 zns-heading-1">50+</h3>
              <p class="zns-text-white zns-para-3 opacity-75">
                Successfully executed projects
              </p>
            </div>

            <div class="p-5">
              <h3 class="zns-text-white fw-700 zns-heading-1">200+</h3>
              <p class="zns-text-white zns-para-3 opacity-75">
                Staff strength contract and full time
              </p>
            </div>

            <div class="p-5">
              <h3 class="zns-text-white fw-700 zns-heading-1">30+</h3>
              <p class="zns-text-white zns-para-3 opacity-75">
                Tech partners in major sectors globally
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
