<section id="home">
  <!-- Top Section -->
  <div class="top-background d-flex flex-column justify-content-start py-5">
    <div class="container-md top-section">
      <div class="top-title">
        <h1 class="zns-display-0 fw-500 lh-1 sh-text text-start">
          You think it,
          <span class="zns-text-primary d-block py-3">We build it.</span>
        </h1>
      </div>

      <div class="top-para">
        <p class="zns-para-3 fw-100">
          Get help you at every stage of your product development lifecycle.
          Conquer the market with a truly invested software technology team by
          your side.
        </p>
      </div>

      <div class="mb-5">
        <button class="btn zns-btn-primary top-btn rounded-pill">
          Lets Talk
        </button>
      </div>

      <div class="mt-5 top-service p-2 rounded fw-700">
        Explore all service
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M18.07 14.4301L12 20.5001L5.93001 14.4301"
              fill="#FCB644"
            />
            <path
              d="M18.07 14.4301L12 20.5001L5.93001 14.4301"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 3.5L12 20.33"
              stroke="#292D32"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
        ></span>
      </div>
    </div>
  </div>

  <!-- service section -->
  <div class="service-sec container-fluid pt-5">
    <div class="container-sm services-container">
      <div class="border-bottom border-2 border-dark pb-5">
        <h3 class="pb-3 zns-heading-2 fw-700 pb-2">Software Development</h3>

        <p class="zns-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5 pt-5">
        <h3 class="zns-heading-2 fw-700 pb-2">Product Development</h3>

        <p class="zns-para-3 fw-400">
          Our product development expertise spans across various industries,
          enabling us to create intuitive, user-centric, and market-ready
          solutions that sets you apart.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="zns-heading-2 fw-700 pb-2">
          Tech, Clients & Managed Services
        </h3>

        <p class="zns-para-3 fw-400">
          Get comprehensive technology, clients and managed services to handle
          your IT needs efficiently. From proactive system monitoring to 24/7
          technical support.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-5">
        <h3 class="zns-heading-2 fw-700 pb-2">Cloud & DevOps Engineering</h3>

        <p class="zns-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>

      <div class="border-bottom border-2 border-dark mb-2">
        <h3 class="zns-heading-2 fw-700 pb-2">Software Development</h3>

        <p class="zns-para-3 fw-400">
          Our experienced team harnesses the latest technologies and agile
          methodologies to create cutting-edge software applications that drive
          digital transformation.
        </p>
      </div>
    </div>
  </div>

  <!-- Performance Section -->
  <div class="container-fluid performance-bg">
    <div class="container-lg py-5">
      <div class="row">
        <div class="col-12 col-lg-3 zns-text-white py-5 pr-5 zns-heading-3">
          <div
            class="w-100 d-flex mt-2 justify-content-center text-center text-lg-start"
          >
            <h3 class="w-50 lh-sm fw-700">Our performance over time</h3>
          </div>
        </div>

        <div class="col-12 col-lg-8 text-center">
          <div
            class="w-100 d-flex flex-md-row flex-column align-items-center justify-content-md-between performance-border"
          >
            <div class="p-5">
              <h3 class="zns-text-white fw-700 zns-heading-1">50+</h3>

              <p class="zns-text-white zns-para-3 opacity-75">
                Successfully executed projects
              </p>
            </div>

            <div class="p-5">
              <h3 class="zns-text-white fw-700 zns-heading-1">200+</h3>

              <p class="zns-text-white zns-para-3 opacity-75">
                Staff strength contract and full time
              </p>
            </div>

            <div class="p-5">
              <h3 class="zns-text-white fw-700 zns-heading-1">30+</h3>

              <p class="zns-text-white zns-para-3 opacity-75">
                Tech partners in major sectors globally
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Trusted Section -->
  <div class="container-fluid">
    <div class="container-md py-5 my-3">
      <div class="text-center zns-heading-5 fw-600">
        We are trusted by enterprises and startups like:
      </div>

      <div class="py-5 my-3 d-flex justify-content-evenly">
        <span></span><span></span><span></span><span></span>
      </div>
    </div>
  </div>

  <!-- Clients Section -->
  <div class="container-fluid client-bg">
    <div
      class="container-md clients d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="zns-display-01 zns-text-white fw-700 my5 py-3 w-100 text-center"
      >
        What our clients say
      </div>

      <div class="zns-para-3 zns-text-white text-center quote-bg-1">
        Our team of expert developers, designers, and data analysts are
        dedicated to providing our clients with cutting-edge technology that
        drives success and growth.
      </div>

      <div class="quote-bg-2 d-flex flex-column">
        <div class="py-3 lh-lg">
          “The custom software solution built by Revent has transformed the way
          we do business. It has improved our productivity, reduced costs, and
          enabled us to offer better services to our customers. The
          user-friendly interface and intuitive design make it easy for our
          employees to use, and the software has been highly reliable since its
          deployment”
        </div>

        <div
          class="quote-3 d-flex flex-row justify-content-between align-items-center py-3 pt-5"
        >
          <div>
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
              >
                <path
                  d="M24 4C12.98 4 4 12.98 4 24C4 35.02 12.98 44 24 44C35.02 44 44 35.02 44 24C44 12.98 35.02 4 24 4ZM27.58 30C28.16 30.58 28.16 31.54 27.58 32.12C27.28 32.42 26.9 32.56 26.52 32.56C26.14 32.56 25.76 32.42 25.46 32.12L18.4 25.06C17.82 24.48 17.82 23.52 18.4 22.94L25.46 15.88C26.04 15.3 27 15.3 27.58 15.88C28.16 16.46 28.16 17.42 27.58 18L21.58 24L27.58 30Z"
                  fill="white"
                /></svg
            ></span>
          </div>

          <div class="d-flex flex-column align-items-center w-100">
            <span class="pb-1"
              ><img src="assets/icons/Ellipse1.svg" alt="user-icon"
            /></span>

            <span class="zns-para-2 zns-text-white pb-2">Owonikoko Adisa</span>

            <span class="zns-sub-heading zns-text-white fw-700"
              >Business Head - Sterling Bank</span
            >
          </div>

          <div>
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
              >
                <path
                  d="M24 4C12.98 4 4 12.98 4 24C4 35.02 12.98 44 24 44C35.02 44 44 35.02 44 24C44 12.98 35.02 4 24 4ZM29.58 25.06L22.52 32.12C22.22 32.42 21.84 32.56 21.46 32.56C21.08 32.56 20.7 32.42 20.4 32.12C19.82 31.54 19.82 30.58 20.4 30L26.4 24L20.4 18C19.82 17.42 19.82 16.46 20.4 15.88C20.98 15.3 21.94 15.3 22.52 15.88L29.58 22.94C30.18 23.52 30.18 24.48 29.58 25.06Z"
                  fill="white"
                /></svg
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
